@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskBuddy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css"  />
    <link rel="stylesheet" href="~/TaskBuddy.styles.css" asp-append-version="true" />
</head>


<body>
    @if (!SignInManager.IsSignedIn(User))
    {
        <header>
            <div style="width: 100%; background:white;position:fixed;z-index:100;">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
                    <div class="container-fluid">
                        
                        <div class="logo" style="margin-left: 208px;"><span>TaskBuddy</span></div>
                        <ul style="list-style:none;text-align:center;width:100%;padding:0;margin:0;">
                            <li class="title layout_focus" onclick="scrollToHomeSection()">Home</li>
                            <li class="title" onclick="scrollToFeaturesSection()">Features</li>
                            <li class="title" onclick="scrollToPartnersSection()">Our Partners</li>
                            
                            <li class="title" onclick="scrollToAboutSection()">About Us</li>
                        </ul>
                        <div class="login" style="margin-right: 200px;"><partial name="_LoginPartial" /></div>
                    </div>
                </nav>
            </div>
        </header>
    }
    else
    {
        <!--Left SideBar-->
        <div  class="leftsidenav">
            <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="fa-brands fa-flipboard sideBar_logo"></i></a>
            <!-- search --><a class="nav-link text-dark" asp-area="" asp-controller="Utilisateur" asp-action="search"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Ami" asp-action="listeAmis"><i class="fa-solid fa-user-tie"></i></a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Invitation" asp-action="InvitationEnvoye"><i class="fa-solid fa-user-clock"></i></a><!--Invi env-->
            <a class="nav-link text-dark" asp-area="" asp-controller="Invitation" asp-action="AfficherInvitations"><i class="fa-solid fa-user-check"></i></a><!-- Invi recu -->
            <a class="nav-link text-dark" asp-area="" asp-controller="Tache" asp-action="PartagerTache"><i class="fa-solid fa-share"></i></a>
            <a class="nav-link text-dark" asp-area="" asp-controller="TachePartagee" asp-action="listeAmis"><i class="fa-solid fa-users"></i></a><!-- Invi recu -->
            @if (UserManager.GetUserAsync(User).Result.Role == "admin")
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateur" asp-action="ListeUtilisateur"><i class="fa-solid fa-users-gear"></i></a>
            }
            <a title="Manage" asp-area="Identity" asp-page="/Account/Manage/ProfileChange"><i class="fa-solid fa-gear sideBar_settings"></i></a>
        </div>
        <!--Right SideBar-->
        <div class="rightsidenav">
            <partial name="_LoginPartial" />


            <div class="calendar">
                <div class="header">
                    <button class="prev" onclick="prevMonth()">&#10094;</button>
                    <h2 id="month-year"></h2>
                    <button class="next" onclick="nextMonth()">&#10095;</button>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days" id="calendar-days"></div>
            </div>
            <div class="task_history">
                <div class="header">
                    Mastering the Art of Task Creation!
                </div>
                <div class="history">

                    <ul style="line-height: 3.2;">
                        <li>
                            <strong>Define with Precision</strong>
                        </li>
                        <li>
                            <strong>Break It Down Strategically</strong>
                        </li>
                        <li>
                            <strong>Set Timeframes for Triumph</strong>
                        <li>
                            <strong>Equip Yourself</strong>
                        </li>
                        <li>
                            <strong>Harness TaskBuddy's Potential</strong> 
                        </li>
                    </ul>
                   
                    

                </div>
            </div>
        </div>
        
    }
<main role="main">
    @RenderBody()
</main>
        

    @if (!SignInManager.IsSignedIn(User))
    {
        <footer style="background:#7D4FFE;overflow:hidden;">
            <div class="footer_img">
                <img src="~/assests/Footer.png" />
            </div>
            <div class="container">
                <div class="footer_infos row">
                    <div class="footer_logo col-6">TaskBuddy</div>
                    <div class="footer_liste col-6">
                        <ul style="list-style:none">
                            <li>Home</li>
                            <li>About Us</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="footer_social">
                    <i class="fa-brands fa-facebook" style="cursor:pointer;"></i>
                    <i class="fa-brands fa-instagram" style="cursor:pointer;"></i>
                    <i class="fa-brands fa-linkedin" style="cursor:pointer;"></i>
                </div>
                <div class="footer_copy">
                    &copy; Copyright.All rights reserved - Made With Love &hearts;
                </div>
        </div>
    </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
