@model TaskBuddy.Models.Utilisateur
@{
    ViewData["Title"] = "EditUtilisateur";
}

<h1>EditUtilisateur</h1>


<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUtilisateur">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Role" class="control-label">Role</label>
                <select asp-for="Role">
                    <option value="admin">admin</option>
                    <option value="normalUser">normalUser</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="ListeTaches">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
