@page
@using Test.Areas.Identity.Pages.Account.Manage
@model ProfileChangeModel
@{
    ViewData["Title"] = "Manage Profile";
    ViewData["ActivePage"] = ManageNavPages.ProfileChange;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if (Model.Input.Profil is not null)
            {
                <img id="Profil" alt="Profil" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.Profil))" />
            }
            else{
                <img id="Profil" alt="Profil" src="~/uploads/avatar-male.jpg"/>
            }
            <div class="custom-file">
                <input type="file" accept="image/*"  asp-for="Input.Profil" 
                    onchange="document.getElementById('Profil').src = window.URL.createObjectURL(this.file[0])"
                    class="custom-file-input"/>
                <label class="custom-file-label" asp-for="Input.Profil">Choose Picture...</label>
                <span asp-validation-for="Input.Profil" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your Photo." Disabled/>
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nom" class="form-control" placeholder="Please choose your Nom."  />
                <label asp-for="Input.Nom" class="form-label"></label>
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Prenom" class="form-control" placeholder="Please enter your Prenom." />
                <label asp-for="Input.Prenom" class="form-label"></label>
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Adresse" class="form-control" placeholder="Please enter your Adresse." />
                <label asp-for="Input.Adresse" class="form-label"></label>
                <span asp-validation-for="Input.Adresse" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Role" class="form-control" placeholder="Please enter your Role." />
                <label asp-for="Input.Role" class="form-label"></label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Tel" class="form-control" placeholder="Please enter your Tel." />
                <label asp-for="Input.Tel" class="form-label"></label>
                <span asp-validation-for="Input.Tel" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Ville" class="form-control" placeholder="Please enter your Ville." />
                <label asp-for="Input.Ville" class="form-label"></label>
                <span asp-validation-for="Input.Ville" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

