@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<section style="padding-top:61px;" class="login_section">
    <div class="row">
        <div class="col-6" style="text-align:center;">
            <h1 style="color: #3A3882;
            font-family: Poppins;
            font-size: 55px;
            font-style: normal;
            font-weight: 600;
            line-height: 52px;margin-top:92px;">
                Create Account
            </h1>

            <h3 style="color: #494949;
            font-family: Poppins;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 52px;margin-bottom:20px;">
                Create Account so you can explore more feature.
            </h3>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" style="border-radius: 15px;
                        height: 74px;
                        padding: 20px 25px 0;
                        background: #F8F9FF;transition: width 0.3s ease;" class="form-control input_focus" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" style="font-size:20px;">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" style="border-radius: 15px;
                        height: 74px;
                        padding: 20px 25px 0;
                        background: #F8F9FF;transition: width 0.3s ease;" class="form-control input_focus" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" style="font-size:20px;">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4" >
                    <input asp-for="Input.ConfirmPassword" style="border-radius: 15px;
                        height: 74px;
                        padding: 20px 25px 0;
                        background: #F8F9FF;transition: width 0.3s ease;" class="form-control input_focus" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword" style="font-size:20px;">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class=" btn" style="border-radius: 30px;
                        background: #7D4FFE;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        height: 60px;
                        width: 30%;">
                    Register
                </button>
            </form>
        </div>
        <div class="col-6">
            <div style="padding: 50px 0px 0 80px;width: 695.073px;height: 1189.69px;">
                <img src="~/assests/newReagister.png" style="height:auto;width:100%;" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
