@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500&display=swap');
:root {
    first_color: #7D4FFE;
    first_color_hover: #3A3882;
    second_color: #494949;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
}

/*- Screen Type -Start- -*/

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
    
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
    
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
    
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (max-width: 1400px) {
    .index_section1_divimg {
        display:none;
    }
    .index_section1_container{
        width:100vw;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1470px;
    }
}
/*- Screen Type -End- -*/
/*-Left Side Nav Edit --Start-- -*/
.leftsidenav {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.leftsidenav a {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        
        display: block;
        transition: 0.3s;
}
.leftsidenav a i{
        color: #494949;
    }
    .leftsidenav a i:hover {
        color: #7D4FFE;
    }
    .leftsidenav .sideBar_logo {
        margin-bottom: 100px;
        color: #7D4FFE;
    }
    .leftsidenav a:nth-child(2), .leftsidenav a:nth-child(3), .leftsidenav a:nth-child(4), .leftsidenav a:nth-child(5) {
        margin: 30px 0;
    }
    .leftsidenav .sideBar_settings {
        position: absolute;
        bottom: 60px;
        left: 28px;
    }
.leftsidenav a i {
    font-size: 30px;
}

    @media screen and (max-height: 450px) {
        .leftsidenav {
        padding-top: 15px;
    }

        .leftsidenav a {
            font-size: 18px;
        }
}

/*-Left Side Nav Edit --End-- -*/
/*-Right Side Nav Edit --Start-- -*/
.login_ul{
    flex-direction:row!important;
}
.rightsidenav {
    height: 100%;
    width: 426px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F8F9FF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .rightsidenav .login_userName, .rightsidenav .login_score {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        padding:0;
        margin-left:12px;
    }

    .rightsidenav .login_userName {
        font-weight: 800;
    }
    .rightsidenav .login_score {
        font-weight: 300;
    }
.logout {
    color: #494949;
    text-align: end;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    padding-left:0;
}
    .logout:hover {
        color: #7D4FFE;
    }



    @media screen and (max-height: 450px) {
        .rightsidenav {
        padding-top: 15px;
    }

    .rightsidenav a {
        font-size: 18px;
    }
}


/*- Calendar -Start- -*/
.calendar {
    font-family: Arial, sans-serif;
    max-width: 370px;
    margin: 20px auto;
    border-radius: 37px;
    background: #FFF;
    padding: 24px 20px 38px;
}

    .calendar .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

        .calendar .header #month-year {
            color: #7D4FFE;
            text-align: center;
            font-family: Poppins;
            font-size: 11.925px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

.weekdays {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

    .weekdays div {
        color: #8879A0;
        text-align: center;
        font-family: Poppins;
        font-size: 11.925px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

    .days div {
        text-align: center;
        padding: 5px;
        color: #333;
        text-align: center;
        font-family: Poppins;
        font-size: 11.925px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

.prev, .next {
    background: none;
    border: none;
    cursor: pointer;
    color: #7D4FFE;
    font-size: 12px;
}

.days .today {
    border-radius: 9.937px;
    background: #7D4FFE;
    color: white;
    font-weight: bold;
}
/*- Calendar -End- -*/
/*- Task History -Start- -*/
.task_history {
    margin: 20px auto;
    max-width: 370px;
    border-radius: 37px;
    background: #FFF;
    padding: 15px;
}

    .task_history table {
        width: 100%;
        margin-bottom: 15px;
    }

    .task_history .header {
        color: #7D4FFE;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }

    .task_history .history thead tr th {
        color: #8879A0;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .task_history .history tbody tr .score {
        color: #7D4FFE;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .task_history .history tbody tr .task {
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /*I Should Go Back To It*/
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*I Should Go Back To It*/
    }

    .task_history .history tbody tr .cercle {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        background: #7D4FFE;
        border-radius: 50%;
    }

    .task_history .history tbody tr .cercle_head {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        background: transparent;
        border-radius: 50%;
    }

/*If the First Idea didn't Work*/
/*
    .task_history table .date_score_header {
    width: 100%;
}
.task_history .header {
    color: #7D4FFE;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.task_history .history .date_score_header div {
    color: #8879A0;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.task_history .history .date_score_infos .score{
    color: #7D4FFE;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
    .task_history .history .date_score_infos .task {
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
max-width: 200px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.task_history .history .date_score_infos .cercle {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background: #7D4FFE;
    border-radius: 50%;
}

.task_history .history .date_score_infos .cercle_head {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background: transparent;
    border-radius: 50%;
}
*/

/*- Task History -End- -*/
/*-Right Side Nav Edit --End-- -*/
/*- Header -Start- -*/
.title {
    margin:0 12px;
    display:inline;
    opacity: 0.60;
    text-align: center;
    color: #494949;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
}

.title:hover {
    opacity: 1;
    cursor:pointer;
}
.login {
    text-align: center;
    color: #7D4FFE;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word
}

.register_b {
    background-color: #7D4FFE;
    border-radius: 19px;
    width: 114px;
    color: white;
    display: flex;
    text-decoration: none;
    padding: 6px 10px;
    flex-direction: column;
}
    .register_b:hover {
        background-color: #3A3882;
        color: white;
    }
.layout_focus {
    opacity: 1 !important;
}
/*- Header -End- -*/
/*- Section 1 -Start- -*/
.section1 {
    height: 80vh;
    position:relative;
    margin:0 206px;
}
.index_section1_container {
    top: 26%;
    position: absolute;
    text-align:center;
}
.index_section1_h1 {
    color: #3A3882;
    font-size: 55px;
    font-family: 'Poppins';
    font-weight: 900;
    line-height: 70px;
}
.index_section1_h3 {
    color: #3A3882;
    font-size: 26px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
    line-height: 70px;
}
.index_section1_p {
    color: #494949;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 28px;
}
.index_section1_btn {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
    background: #7D4FFE;
    border-radius: 44px;
    padding: 14px 20px;
    margin-top:15px;
}
    .index_section1_btn:hover {
        color: white;
        background: #3A3882;
    }

.index_section1_img {
    width: 744px;
    height: 504px;
    position: absolute;
    right: 0;
    top: 24%;
}
/*- section 1 -End- -*/
/*- section 2 -Start- -*/
.index_section2_title h1{
    margin-top: 135px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-weight: 800;
    margin-bottom: 102px;
}
.index_section2_card{
    text-align:center;
}
.index_section2_card .p1 {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
}
.index_section2_card .p2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}
.index_section2_card .icon {
    font-size: 200px;
    color: white;
    margin: 20px 0 45px;
}
.index_section2_divbtn{
    text-align:center;
    margin-top:105px;
}
.index_section2_btn {
    color: #7D4FFE;
    font-size: 21px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
    background: white;
    border-radius: 32px;
    padding: 17px 18px;
}
/*- section 2 -End- -*/
/*- section 3 -Start- -*/
.section3{
    margin-bottom:70px;
}
.index_section3_title1 h1, .index_section3_title2 h1{
    color: #7D4FFE;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    margin-top: 99px;
}
.index_section3_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_section3_card1 {
    flex-shrink: 0;
    width: 200px;
    margin:0 39px;
}
.index_section3_card1 img{
    max-width: 100%;
    height: auto;
}

.index_section3_card2 {
    flex-shrink: 0;
    width: 235px;
    margin: 0 29px;
}

.index_section3_card2 img {
        max-width: 100%;
        height: auto;
}
.index_section3_card3 {
    flex-shrink: 0;
    width: 380px;
    margin: 0 29px;
}

.index_section3_card3 img {
        max-width: 100%;
        height: auto;
}
.index_section3_cards_pic{
margin:100px 0;
}
.index_section3_cards_pic .infos {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index_section3_cards_pic .infos h4{
    color: #3A3882;
    text-align: center;
    font-family: poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.index_section3_card_pic .infos p{
    color: #494949;
    text-align: center;
    font-family: 29LT Bukra;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.index_section3_card_pic img {
    width: 144px;
    height: 144px;
    border: 2px solid #7D4FFE;
    border-radius: 50%;
}
.index_section3_card1_pic, index_section3_card2_pic {
    margin-bottom: 40px;
}
.index_section3_card3_pic, index_section3_card4_pic {
    margin-top: 40px;
}
/*- section 3 -End- -*/
/*- section 4 -Start- -*/
.section4{
    margin-top:70px;
}
.section4 {
    overflow: hidden;
}
.index_section4_img {
    /*width: 388.935px;*/
    /*height: 1045.227px;*/
    flex-shrink: 0;
    position: relative;
}
    .index_section4_img img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 209px;
    }
.index_section4_text{
    /*text-align:center;*/
}
.index_section4_text h1 {
        right: 60px;
        position: relative;
        text-align: center;
        color: #3A3882;
        font-size: 55px;
        font-weight: 800;
        line-height: 28px;
        margin: 67px 0 80px;
    }
.index_section4_text p {
    color: #818286;
    /*text-align: center;*/
    font-family: poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    margin-left:100px;
}
.index_section4_subscribe {
    text-align:center;
    background-color: #3A3882;
    padding:129px 0;
}
.index_section4_subscribe .btn {
        background-color: #7D4FFE;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        padding:35px 15px;
        margin-left:50px;
}
.index_section4_subscribe .email{
    width: 480px;
    height: 96px;
    flex-shrink: 0;
}
.index_section4_subscribe input::placeholder {
        color: #626262;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; 
        padding-left: 15px;
}
/*- section 4 -End- -*/
/*- Footer -Start- -*/
.footer_img{
    width:100vw;
}
.footer_img img{
    width:100%;
}
.footer_infos .footer_logo, .footer_infos .footer_liste ul li{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.footer_infos .footer_logo {
    font-size: 60px;
}
.footer_liste ul li {
    cursor:pointer;
    margin: 26px 0;
    font-size: 38px;
}
.footer_social{
    text-align:center;
}
.footer_social i {
    font-size: 50px;
    color: white;
    margin:16px 21px;
}
.footer_copy {
    color: #F3F3F3;
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
/*- Footer -End- -*/

/*- DashBoard -Start- -*/
.dashboard {
    padding: 59px 455px 27px 141px;
    background: #F8F9FF;
}

.dash_search_container {
    position: relative;
    display: flex;
    align-items: center;
}



.dash_input {
    border: 1px solid transparent;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #FFF;
    color: black;
    width: 280px;
}

    .dash_input:focus {
        border: 1px solid red;
    }

    .dash_icon {
        margin: 0;
        position: absolute;
        right: 10px;
        background: transparent;
        border: none;
        color: #6f6f6f;
    }



.dash_button2 {
    border-radius: 20px;
    background: #7D4FFE;
    display: flex;
    align-items: center;
    color: #FFF;
}
    .dash_button2 i {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 7px;
    }
.dash_button2 a {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
    
    .dash_button2:hover {
        background: #3A3882;
        color: #FFF;
    }


.dash_task_container {
    position: relative;
    display: flex;
    margin-top: 35px;
}
    .dash_task_container .dash_tasks {
        width: 100%;
        background: white;
        height: 208px;
        margin-top: 75px;
        border-radius: 37px;
        padding:44px 0 15px 115px;
    }
        .dash_task_container .dash_tasks h3 {
            color: #000;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .dash_task_container .dash_tasks p {
            color: #000;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        .dash_task_container .dash_tasks .task_btn {
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            border-radius: 25px;
            background: #7D4FFE;
        }
    .dash_task_container .task_img {
        position: absolute;
        right: 110px;
        bottom:0;
    }
        .dash_task_container .task_img img {
            width: 305.911px;
            height: 306.362px;
        }
.dashboard_footer {
    margin: 20px 0;
    
    background: #F8F9FF;
    padding: 15px;
}
.friends_list {
    background: #FFF;
    border-radius: 37px;
    text-align:center;
    
}
    .friends_list h3 {
        color: #3A3882;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 23px 0;

    }
.dashboard_footer_container1{
    padding:0 40px;
    margin:20px 0;
}
.dashboard_footer_container1 p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.dashboard_footer_container1 a i{
    color: #3A3882;
    font-size: 30px;
}
/*- DashBoard -End- -*/

/*- Liste Tache -Start- -*/
.listeTache {
    margin-left: 90px;
    background: #F8F9FF;
    padding:59px 500px 27px 85px;
}